*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: arial,sans-serif;
}
body{
    background: white;
}
.topbar{
    background: black;
    color:white;
    text-align: center;
    padding:5px;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:15px 40px;
    background: white;
}
.logo{
    display:flex;
    align-items:center ;
}
.logo img{
    width:50px;
    margin-right: 10px;
}
nav ul{
    display:flex;
    list-style:none;
}
nav li{
    margin-left:70px
}
nav a{
    text-decoration: none;
    color: black;
    font-weight:bold;
}
.hero{
    height:500px;
    width:100%;
    background-image:Url("scroll1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hero pre{
    font-size: 60px;
    color:white;
    font-weight: bold;
    margin:27rem 68rem 0px 0px;
}
.departments h1
{
    font-size: 20px;
    padding:20px;
}
.cards{
    display:flex;
    justify-content: space-around;
    background: black;
}
.card{
    width:220px;
    text-align: center;
    background: white;
    color: black;
    margin:15px;
    padding:20px;

}
footer{
    background: darkblue;
    color: white;
    padding: 10px;
}